<div class="row w-100 px-2 py-2 mt-1 mb-2 bg-white" >
    <h3>View Student Attendance</h3>
</div>

    
    
    <div class="row w-100 p-3 bg-white mt-2" *ngIf="currentFlow == 1">
        <div class="w-100 d-flex justify-content-start mb-2">
            <div class="px-1 d-flex" *ngIf="currentUser.type != 'student'">
              <div class="px-2">
                    <label>* Choose Month For Filter Attendance</label>
                    <select class="form-select" [(ngModel)]="date" (change)="filerAttendance('date')">
                        <option value="">Select Month</option>
                        <option value="01">Jan</option>
                        <option value="02">Feb</option>
                        <option value="03">Mar</option>
                        <option value="04">Apr</option>
                        <option value="05">May</option>
                        <option value="06">Jun</option>
                        <option value="07">Jul</option>
                        <option value="08">Aug</option>
                        <option value="09">Sep</option>
                        <option value="10">Oct</option>
                        <option value="11">Nov</option>
                        <option value="12">Dec</option>
                    </select>
                </div>  
              <div class="px-2">
                    <label>Class</label>
                    <select name="current_class" id="current_class" class="form-select" [(ngModel)]="class_filter" (change)="filerAttendance('class_id')">
                        <option value="" selected hidden>Filter By Class</option>
                        <option *ngFor="let item of allClasses" value="{{item._id}}">{{item.name}}</option>
                    </select>
                </div>  
              <div class="px-2">
                   <button class="btn btn-primary" style="margin-top: 20px;" (click)="clearFilter()">Clear</button>
                </div>  
               <!--  <div class="px-2">
                    <label>Class</label>
                    <select name="current_class" id="current_class" class="form-select" [(ngModel)]="class_id">
                        <option value="" selected hidden>Selcted Class</option>
                        <option *ngFor="let item of allClasses" value="{{item._id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="px-2">
                    <button class="btn btn-primary " style="margin-top: 20px;" (click)="viewAttendance()">View Attendance</button>
                </div> -->
            </div>
        </div>
        <div class="W-100">
            <table class="table table-striped table-responsive" id="enquiresList">
                <thead>
                    <tr style="border-bottom: 2px solid #e2e7f1 !important; background-color: #323742; color: #fff;">
                        <th style="min-width: 65px;">Sr No</th>
                        <th  style="min-width: 200px">Date</th>
                        <th  style="min-width: 200px">Class</th>
                        <th style="min-width: 150px">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr *ngFor="let item of allMedicalWord | paginate: { id: 'foo',
                  itemsPerPage: 10,
                  currentPage: page,
                  totalItems: totalRecords } ;let i =index">
                        <td>{{ page == 1 ? i + 1 : i == 9 ? (page+''+0):((page-1)+''+(i+1))}}</td>
                        <td>{{item.text}}</td>
                        <td>{{item.date.split('-')[2]+'-'+item.date.split('-')[1]+'-'+item.date.split('-')[0]}}</td>
                        <td>{{item.created_at | date}}</td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteMedical(item)">Delete</button>
                        </td>
                   </tr> -->
                   <tr *ngFor="let item of allStudentAtt; let i = index" >
                        <td>{{i + 1}}</td>
                        <td>{{item.date}}</td>
                        <td>{{item.class_name}}</td>
                        <td class="d-flex">
                            <div class="icon-primary px-2 pointer">
                                <button class="btn btn-primary" (click)="viewAttendancewithdate(item,'pdf')"><i class="fa fa-file-pdf f-17"></i> Download</button>
                            </div>
                            <div class="px-2" >
                               <button class="btn btn-primary" (click)="viewAttendancewithdate(item,'table')">View Details</button>
                            </div>
                        </td>
                   </tr>
                </tbody>
            </table>
        </div>

        <!-- <div class="W-100" *ngIf="allStudentAtt?.length > 0 ">
             <button class="btn btn-primary" (click)="submit()" *ngIf="this.currentUser.type != 'student'">Submit Attendance</button>
        </div> -->
<div class="W-100" #tableDetails>
    <div  class="W-100" *ngIf="show_table">
        <table class="table table-striped table-responsive" id="enquiresList">
            <thead>
                <tr style="border-bottom: 2px solid #e2e7f1 !important; background-color: #323742; color: #fff;">
                    <th style="min-width: 65px;">Sr No</th>
                    <th style="min-width: 200px">Student Name</th>
                    <th style="min-width: 200px">Date</th>
                    <th style="min-width: 150px">Attendance</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let item of allMedicalWord | paginate: { id: 'foo',
              itemsPerPage: 10,
              currentPage: page,
              totalItems: totalRecords } ;let i =index">
                    <td>{{ page == 1 ? i + 1 : i == 9 ? (page+''+0):((page-1)+''+(i+1))}}</td>
                    <td>{{item.text}}</td>
                    <td>{{item.date.split('-')[2]+'-'+item.date.split('-')[1]+'-'+item.date.split('-')[0]}}</td>
                    <td>{{item.created_at | date}}</td>
                    <td>
                        <button class="btn btn-danger" (click)="deleteMedical(item)">Delete</button>
                    </td>
               </tr> -->
               <tr *ngFor="let item of allStudentAttDate; let i = index" >
                <td>{{i + 1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.created_at.split(' ')[0]}}</td>
                <td style="text-transform: capitalize;">{{item.status}}
                </td>
               </tr>
       
            </tbody>
        </table>
    </div>
</div>
    </div>
  
  

    <!-- <div class="py-2 bg-white text-right">
        <pagination-controls (pageChange)="pageChange($event)" id="foo" maxsize="5" [directionLinks]="true"></pagination-controls>
    </div> -->
    