<div class="row w-100 px-2 py-2 mt-1 mb-2 bg-white" >
    <h3>Class Wise Performance</h3>
</div>

    
    
    <div class="row w-100 p-3 bg-white mt-2" *ngIf="currentFlow == 1">
        <div class="w-100 d-flex justify-content-start mb-2">
            <div class="px-1 d-flex">
                <div class="W-100">
                    <label>Class</label>
                    <select name="current_class" id="current_class" class="form-select" [(ngModel)]="class_id">
                        <option value="All" selected hidden>All</option>
                        <option *ngFor="let item of allClasses" value="{{item._id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="px-2">
                 <button class="btn btn-primary" style="margin-top: 20px;" (click)="getClassWisePerformance(class_id)">Submit</button>
                </div>
                
            </div>
        </div>
        <div class="W-100 text-center" *ngIf="classPerformanceImage">
            <img src="{{'data:image/jpg;base64,' + classPerformanceImage}}" />
        </div>
        <div class="W-100 text-center" *ngIf="!classPerformanceImage">
            <h3 class="text-danger">No Data Found..</h3>
        </div>
    </div>
  
  

    <!-- <div class="py-2 bg-white text-right">
        <pagination-controls (pageChange)="pageChange($event)" id="foo" maxsize="5" [directionLinks]="true"></pagination-controls>
    </div> -->
    